body{
    background: url("../images/The\ Anthropomorphic\ Cabinet.jpg") top / cover no-repeat fixed;
    color: white;
    margin: 0px;
}

h1{
    background-color: #62433f;
    color: wheat;
    padding: 30px;
    margin: 0px;
}

figure{
    border: 5px double #62433f;
    background-color: #98644e;
    padding: 5px;
}

footer {
    background-color: #62433f;
    padding: 10px;
    position: bottom;
    right: 0;
    bottom: 0;
    left: 0;
  }