header{
    background: url("../images/movie\ film\ border.jpg");
    background-size: 120px 100px;
    height: 100px;
}

body {
    background-color: wheat;
}

footer{
    background: url("../images/movie\ film\ border.jpg");
    background-size: 120px 100px;
    height: 100px;
}

footer em, strong{
    background: salmon;
}